$black: #333;
$white: #fff;
$beige: #fbf2cf;
$darkGreen: #a1c298;
$lightGreen: #c6ebc5;
$red: #fa7070;

@mixin ribbon() {
  .title {
    text-align: center;
    h1 {
      position: relative;
      z-index: -1;
      background-color: $lightGreen;
      color: $red;
      display: inline-block;
      padding: 1rem 7rem;
      @include sm {
        max-width: 90%;
        padding: 1rem;
      }

      &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        border: none;
        border-bottom: 15px solid transparent;
        border-right: 20px solid $darkGreen;
      }
    }
  }
}

/*---------------------
  レスポンシブ
---------------------*/
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
@mixin sm {
  @media screen and (max-width: $sm) {
    @content;
  }
}
@mixin md {
  @media screen and (max-width: $md) {
    @content;
  }
}
@mixin lg {
  @media screen and (max-width: $lg) {
    @content;
  }
}
@mixin xl {
  @media screen and (max-width: $xl) {
    @content;
  }
}
@mixin xxl {
  @media screen and (max-width: $xxl) {
    @content;
  }
}
