@use "./mixin" as *;

body {
  height: 200vh;
}

.menu-bar {
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 200px;
  background-color: $darkGreen;
  color: $black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.5rem;
  @include sm {
    top: auto;
    bottom: 1rem;
    right: 50%;
    transform: translateX(50%);
  }
  & > div {
    width: 50%;

    p {
      margin-top: 0.3rem;
      font-size: 1rem;
    }
  }

  .menu-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 0.2rem 1rem;

    .menu-box {
      width: 30px;
      height: 15px;
      position: relative;
      span {
        position: absolute;
        width: 1.7rem;
        height: 2px;
        background-color: $white;
        border-radius: 0.05rem;
        left: 0;
        transition: transform 0.3s;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 50%;
        }
        &:nth-child(3) {
          top: 100%;
        }
      }
      &.active {
        //ハンバーガーメニュークリック時に付与するクラス
        span {
          transition: transform 0.3s;
          &:nth-child(1) {
            top: 0;
            transform: translateY(7px) rotate(45deg);
          }
          &:nth-child(2) {
            top: 50%;
            opacity: 0;
          }
          &:nth-child(3) {
            top: 100%;
            transform: translateY(-7px) rotate(-45deg);
          }
        }
      }
    }
    p {
      color: $white;
      position: relative;
      z-index: 5;
    }
  }

  .page-top-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 0.2rem 1rem;
    .top-button {
      .top-box {
        margin-bottom: -0.4rem;
        * {
          color: $white;
          display: block;
        }
      }
      p {
        color: $white;
      }
    }
  }
}

.main-menu {
  transition: all 0.4s;
  opacity: 0;
  pointer-events: none;

  &.active {
    pointer-events: auto;
    opacity: 1;
    transition: all 0.4s;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
  }

  nav.g-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      a {
        color: $white;
      }
    }
  }
}

section#main-visual {
  .logo {
    text-align: center;
    margin-top: 2rem;
  }
}
